.container {
	display: grid;
}

.fade-enter {
	opacity: 0.01;

	position: absolute;
	left: 500px;
}

.fade-enter.fade-enter-active {
	opacity: 1;

	position: absolute;
	left: 0;

	// transition: opacity 200ms ease-in;
	transition: all 300ms ease-in;
}

.fade-exit {
	opacity: 1;

	position: absolute;
	top: 0;
}

.fade-exit.fade-exit-active {
	opacity: 0.01;

	position: absolute;
	top: 500px;

	// transition: opacity 200ms ease-in;
	transition: all 300ms ease-in;
}

div.transition-group {
	position: relative;
}

section.route-section {
	position: absolute;
	width: 100%;
	// top: 0;
	// left: 0;
}
