.register {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
    place-content: center;
    color: white;
    font-size: 24px;

    div {
        place-self: center;
    }

    input {
        font-size: 24px;
    }

    .gender-select {
        width: 50%;
        margin-top: 5px;
        text-align: center;

        .gender-select-li {
            display: inline-block;
            width: 50%;
            text-align: center;
            vertical-align: middle;
            border-radius: 10px;
            max-width: 240px;
            height: 260px;

            img {
                cursor: pointer;
            }
        }
    }
    
    .gender-text {
        margin-top: 30px;
        color: cornflowerblue;
        border: 2px solid cornflowerblue;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        padding: 10px 0;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 10px 10px 2px rgba(206,89,55,0);
    }

    $primary: #ff3a69;
    $secondary: #cc2b50;
    $white: #fff;
    $gray: #9b9b9b;

    .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    }

    .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }

    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
    }

    .form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    }

    /* reset input */
    .form__field{
    &:required,&:invalid { box-shadow:none; }
    }
}

